body {
  background-color: hsl(221, 100%, 96%);
}

main {
  display: flex;
  width: 700px;
  min-height: 60vh;
  margin: 100px auto;
  flex: 1 1;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(63, 81, 181, 0.3);
}

#result {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  flex: 1;
  border-radius: 20px;
}

#summary {
  background-color: white;
  flex: 1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.circle {
  position: relative;
  border: 2px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
p {
  font-size: 18px;
  text-align: center;
}
